<section class="section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--comments area start-->
                {{#if comments}}
                <div class="comments">
                    <h2 class="comments-title">نظرات</h2>
                    {{>comments/list}}
                </div>
                {{/if}}
                <!--comments area end-->

                <!--comment form start-->
                <div class="comment-respond">
                    <h3 class="comment-reply-title mb-lg-5 mb-4">
                        پیام بگذارید
                    </h3>
                     {{#if success}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    {{/if}}
                    <form role="form" class="comment-form" action="/p/{{post.slug}}/comments" method="POST">
                        <div class="row">
                        {{#if user}}
                        <div class="col-12">
                        <p>شما با عنوان {{user.full_name}} وارد شده اید.</p>
                        </div>
                        {{/if}}

                        {{#unless user}}
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="نام*" required="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <input type="email" name="email" class="form-control" placeholder="ایمیل*" required="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" name="url" class="form-control" placeholder="وب سایت">
                                </div>
                            </div>
                        {{/unless}}
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <textarea id="message" name="content" rows="5" placeholder="نظر*" class="form-control" required=""></textarea>
                            </div>
                        </div>
                        <p class="text-muted">آدرس ایمیل شما منتشر نخواهد شد. فیلدهای مورد نیاز علامت گذاری شده اند *</p>
                        <div class="text-center mt-md-5">
                            <button type="submit" class="btn btn-theme">ارسال</button>
                        </div>
                    </form>
                </div>
                <!--comment form end-->
            </div>
        </div>
    </div>
</section>