<div class="content">
  <h1>ورود</h1>
</div>

<div class="login-register-form">

  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger" role="alert">
        <strong>{{this}}</strong>
        <button class="close" data-dismiss="alert"><i
            class="zmdi zmdi-close"
          ></i></button>
      </div>
    {{/each}}
  {{/if}}
    {{#if success}}
    {{#each success}}
      <div class="alert alert-success" role="alert">
        <strong>{{this}}</strong>
        <button class="close" data-dismiss="alert"><i
            class="zmdi zmdi-close"
          ></i></button>
      </div>
    {{/each}}
  {{/if}}

  <form action="/auth/login" method="post">
    <div class="row">
      <div class="col-12 mb-20"><input
          class="form-control"
          type="text"
          placeholder="نام کاربری / ایمیل"
          name="email"
        /></div>
      <div class="col-12 mb-20"><input
          class="form-control"
          type="password"
          placeholder="رمز عبور"
          name="password"
        /></div>
      <div class="col-12 mb-20"><label
          for="remember"
          class="adomx-checkbox-2"
        ><input id="remember" type="checkbox" /><i class="icon"></i>مرا به خاطر
          داشته باش.</label></div>
      <div class="col-12">
        <div class="row justify-content-between">
          <div class="col-auto mb-15"><a href="#">فراموشی رمز عبور؟</a></div>
          <div class="col-auto mb-15">آیا حساب کاربری ندارید؟
            <a href="/auth/register">هم اکنون ایجاد کنید.</a></div>
        </div>
      </div>
      <div class="col-12 mt-10"><button
          class="button button-primary button-outline"
        >ورود</button></div>
    </div>
  </form>
</div>