<div class="content">
  <h1>ثبت نام</h1>
</div>

<div class="login-register-form">

  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger" role="alert">
        <strong>{{this}}</strong>
        <button class="close" data-dismiss="alert"><i
            class="zmdi zmdi-close"
          ></i></button>
      </div>
    {{/each}}
  {{/if}}

  <form action="" method="post">
    <div class="row">

      <div class="col-12 mb-20">
        <input
          class="form-control"
          type="email"
          placeholder="ایمیل"
          name="email"
          required
        /></div>
      <div class="col-12 mb-20"><input
          class="form-control"
          type="password"
          placeholder="رمز عبور"
          name="password"
          required
        /></div>
      <div class="col-12 mb-20"><input
          class="form-control"
          type="password"
          placeholder="تایید رمز عبور"
          name="repeat-password"
          required
        /></div>
      <div class="col-12">
        <div class="row justify-content-between">
          <div class="col-auto mb-15">در حال حاضر حساب کاربری دارید؟
            <a href="/auth/login">هم اکنون وارد شوید.</a></div>
        </div>
      </div>
      <div class="col-12 mt-10"><button
          class="button button-primary button-outline"
        >ثبت نام</button></div>
    </div>
  </form>

</div>