<!--footer start-->
<footer class="app-footer text-md-left text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-md-0 mb-4">
                <h4>در تماس بودن</h4>
                <p>testmail@testmail.net</p>
                <br>
                <p class="font-size-14"><span class="text-muted">© 2019 کلاب. تمام حقوق محفوظ است.</span> نویسنده اصلی vectorlab </p>
            </div>
            <div class="col-md-5 mb-md-0 mb-4">
                <ul class="social-media-list two-col-link">
                    <li><a href="#">لینکدین</a></li>
                    <li><a href="#">سروش</a></li>
                    <li><a href="#">واتس آپ</a></li>
                    <li><a href="#">توییتر</a></li>
                    <li><a href="#">تلگرام</a></li>
                    <li><a href="#">رسانه</a></li>
                </ul>
            </div>
            <div class="col-md-1">
                <a href="#" class="go-up-link">
                    <i class="vl-arrow-up fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
</body>