<!--feature start-->
<section class="component-section">
    <div class="container">
        <div class="row justify-content-md-center ">
            <div class="col-md-12">
                <h5 class="mb-md-5 mb-4">ویژگی ها</h5>
            </div>
            <div class="col-md-4">
                <div class="mb-md-0 mb-4">
                    <a href="#"><img class="rounded mb-4" src="/static/assets/img/cards/3a.jpg" alt="card image" /></a>
                    <h6 class=""><a href="#">آیکون خط فرمت SVG متحرک</a></h6>
                    <small class="font-lora text-muted">آیکن</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-md-0 mb-4">
                    <a href="#"><img class="rounded mb-4" src="/static/assets/img/cards/3b.jpg" alt="card image" /></a>
                    <h6 class=""><a href="#">کیت UI تجارت الکترونیک</a></h6>
                    <small class="font-lora text-muted">ماکت</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-md-0 mb-4">
                    <a href="#"><img class="rounded mb-4" src="/static/assets/img/cards/3c.jpg" alt="card image" /></a>
                    <h6 class=""><a href="#">برنامه موبایل تناسب اندام </a></h6>
                    <small class="font-lora text-muted">قالب</small>
                </div>
            </div>
        </div>
    </div>
</section>
<!--feature end-->