<!--hero start-->
<section class="section-gap section-top- section-full">
    <div class="hero-img bg-overlay" data-overlay="0" style="background-image: url(/static/assets/img/hero/img-12.jpg);"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10 text-center">
                <!-- heading -->
                <h1 class="text-white">
                    12،890 منابع رایگان در دسترس هستند
                </h1>
                <!-- subheading -->
                <h5 class="text-white mb-5 font-weight-normal">
                    رایگان برای هر دو استفاده شخصی و تجاری است. خوش بگذره
                </h5>

                <form class="mx-md-5 px-md-5 mb-lg-5 mb-4">
                    <div class="form-group">
                        <div class="icon-field-right">
                            <i class="vl-search text-primary pr-2"></i>
                            <input type="text" class="form-control btn-pill pl-4 pr-5 border-0" placeholder="جستجو برای عکس ها و تصاویر بردار">
                            <p class="font-lora text-muted mt-3">مثال: لوگو، آیکون، پس زمینه، آبرنگ</p>
                        </div>
                    </div>
                </form>

                <!-- button -->
                <div class=" mb-0">
                    <a href="#" class="btn btn-pill btn-theme">
                        مشاهده تمام محصولات
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--hero end-->