<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{{websiteDescription}}">
    <title>{{websiteTitle}}</title>
    <base href="http://localhost:1111">
    
    {{>styles}}

</head>

<body>

    <!-- Header partial -->
    {{>header}}

    {{{body}}}

    {{>footer}}
    <!-- Footer partial -->
    
    {{>scripts}}

</body>

</html>

